<%- include header %>
<script type="text/javascript">
  $(function(){
    $("#searchButton").on('click', function(){
      var startTime = $('#startTime').val();
      var endTime = $('#endTime').val();
      var ajaxCall = {
        url: "http://localhost:8070/"+startTime,
        data: JSON.parse(endTime),
        type: "GET",
        contentType: "application/json; charset=utf-8",
        dataType: "jsonp",
        jsonpCallback:"success",
        error: function () {
           console.log("Unable to Get FreeBusy Data");
        },
        success: function (response) {
          $("#tableDiv").text(JSON.stringify(response));
    }
};
      $.ajax(ajaxCall);
    });
  });
</script>
</head>

<body class="bs-docs-home">
    <div class="container theme-showcase">
        <h1 style=" line-height:2em;"> </h1><br />

        <div class="row">
            <div class="col-sm-1"></div>
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong> Test Webservice</strong></h3>
                </div>
                <div class="panel-body">
                   <div class="alert alert-warning ">
                       <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
                       <strong>Welcome</strong> Developer.
                   </div>
                       <form class="form-horizontal" role="form" name="searchForm">
                           <div class="form-group">
                              <div class="col-xs-6 col-md-1" style="line-height: 30px;width: 150px;">Service Name:</div>
                              <div class="col-xs-6 col-md-3 controls-row">
                                  <div class="date input-group" id="startTimeComp">
                                    <input type="text" class="input-sm form-control" id="startTime" name="startTime" placeholder="Service Name"/>
                                  </div>
                                </div>
                                <div class="col-xs-6 col-md-1" style="line-height: 30px;width: 140px;">Param list:</div>
                                <div class="col-xs-6 col-md-3 controls-row">
                                  <div class="date input-group" id="endTimeComp">
                                    <input type="text" class="input-sm form-control" id="endTime" name="endTime" placeholder="Param list"/>
                                  </div>
                           </div>
			    				       <div class="col-xs-6 col-sm-1" style="margin-top: -3px;">
			                       <button class="btn btn-default" type="button" id="searchButton">Search</button>
			                   </div>
			               </div>
               		   </form>
                       <div class="table-responsive" id="tableDiv">

                       </div>
                   </div>
               </div>
           </div>

           <div class="col-sm-1"></div>
        </div>
    </div>
<%- include footer %>